* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #ffb900;
    --second-color: #171100;
}

/* Common */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    line-height: 50px;
    padding: 0px 24px;
    border-radius: 25px;
    color: #fff;
    font-weight: 600;
    background: var(--second-color);
}

.btn:hover {
    opacity: 0.9;
}

/* ========= Header ========= */
.header {
    background: #fffcf4;
}

.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header .body .menu {
    margin-left: auto;
}

.header .body .menu ul {
    display: flex;
}

.header .body .menu a:hover,
.header .menu ul li.active a {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.header .menu ul li.active a::after {
    display: block;
    position: absolute;
    bottom: 14px;
    left: 21px;
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .body .menu a {
    position: relative;
    padding: 16px 21px;
    color: #5f5b53;
    font-size: 1.6rem;
}

.btn-sign-up {
    padding: 0px 41px;
    margin-left: 49px;
    border-radius: 24.5px;
}

/* ========= Hero ========= */
/* Hero Left */
.hero-wrap {
    padding-top: 56px;
    padding-bottom: 65px;
    background: #fffcf4;
}

.hero-wrap .hero {
    display: flex;
    align-items: center;
}

.hero-wrap .hero-left {
    position: relative;
}

.hero-wrap .hero-left .hero-banner {
    width: 470px;
    height: 685px;
    margin-right: 230px;
    border-radius: 20px;
    object-fit: cover;
}

.hero-wrap .box-summary {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
    bottom: 48px;
    left: 300px;
    width: 270px;
    height: 244px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.box-summary .item {
    display: flex;
    align-items: center;
    margin-top: 14px;
}

.box-summary .item:first-child {
    margin-top: 0;
}

.box-summary .item .icon {
    align-content: center;
    text-align: center;
    width: 48px;
    height: 48px;
    background: #fff9e8;
    border-radius: 50%;
    margin-right: 16px;
}

.box-summary .item .icon-dev {
    background: #fcefff;
}

.box-summary .item .icon-mkt {
    background: #ebeaff;
}

.box-summary .item .label {
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.85714;
}

.box-summary .item .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66667;
}

/* Hero Right */
.hero-right .title {
    color: #171100;
    font-family: "Sen", sans-serif;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.1724;
    letter-spacing: -0.116rem;
}

.hero-right .desc {
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.667;
    margin-top: 22px;
}

.hero-right .cta-group {
    display: flex;
    align-items: center;
    margin-top: 38px;
    margin-bottom: 48px;
}

.btn-hero {
    display: inline-block;
    background: var(--primary-color);
    line-height: 3.556;
    padding: 0px 34px;
    border-radius: 32px;
    font-size: 1.8rem;
    font-weight: 600;
    margin-right: 28px;
}

button.watch-video {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
}

button.watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 14px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

button.watch-video .icon img {
    width: 20px;
    height: 20px;
    text-align: center;
    align-content: center;
}

button.watch-video span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66667;
}

.hero-right strong.data-hero {
    margin-top: 8px;
    margin-right: 14px;
    margin-left: 28px;
    color: #171100;
    font-family: "Sen", sans-serif;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.22727;
}

.hero-right strong.data-hero:first-of-type{
    margin-left: 0;
}
