* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #ffb900;
    --second-color: #171100;
}

/* Common */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.btn {
    line-height: 50px;
    padding: 0px 24px;
    border-radius: 25px;
    color: #fff;
    font-weight: 600;
    background: var(--second-color);
}

.btn:hover {
    opacity: 0.9;
}

/* ========= Header ========= */
.header {
    background: #fffcf4;
}

.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header .body .menu {
    margin-left: auto;
}

.header .body .menu ul {
    display: flex;
}

.header .body .menu a:hover,
.header .menu ul li.active a {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.header .menu ul li.active a::after {
    display: block;
    position: absolute;
    bottom: 14px;
    left: 21px;
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .body .menu a {
    position: relative;
    padding: 16px 21px;
    color: #5f5b53;
    font-size: 1.6rem;
}

.btn-sign-up {
    padding: 0px 41px;
    margin-left: 49px;
    border-radius: 24.5px;
}

/* ========= Hero ========= */
/* Hero Left */
.hero-wrap {
    padding-top: 56px;
    padding-bottom: 65px;
    background: #fffcf4;
}

.hero-wrap .hero {
    display: flex;
    align-items: center;
}

.hero-wrap .hero-left {
    position: relative;
}

.hero-wrap .hero-left .hero-banner {
    width: 470px;
    height: 685px;
    margin-right: 230px;
    border-radius: 20px;
    object-fit: cover;
    vertical-align: bottom;
}

.hero-wrap .box-summary {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
    bottom: 48px;
    left: 300px;
    width: 270px;
    height: 244px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.box-summary .item {
    display: flex;
    align-items: center;
    margin-top: 14px;
}

.box-summary .item:first-child {
    margin-top: 0;
}

.box-summary .item .icon {
    align-content: center;
    text-align: center;
    width: 48px;
    height: 48px;
    background: #fff9e8;
    border-radius: 50%;
    margin-right: 16px;
}

.box-summary .item .icon-dev {
    background: #fcefff;
}

.box-summary .item .icon-mkt {
    background: #ebeaff;
}

.box-summary .item .label {
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.85714;
}

.box-summary .item .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66667;
}

/* Hero Right */
.hero-right .title {
    color: #171100;
    font-family: "Sen", sans-serif;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.1724;
    letter-spacing: -0.116rem;
}

.hero-right .desc {
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.667;
    margin-top: 22px;
}

.hero-right .cta-group {
    display: flex;
    align-items: center;
    margin-top: 38px;
    margin-bottom: 48px;
}

.btn-hero {
    display: inline-block;
    background: var(--primary-color);
    line-height: 3.556;
    padding: 0px 34px;
    border-radius: 32px;
    font-size: 1.8rem;
    font-weight: 600;
    margin-right: 28px;
}

button.watch-video {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
}

button.watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 14px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

button.watch-video .icon img {
    width: 20px;
    height: 20px;
    text-align: center;
    align-content: center;
}

button.watch-video span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66667;
}

.hero-right strong.data-hero {
    margin-top: 8px;
    margin-right: 14px;
    margin-left: 28px;
    color: #171100;
    font-family: "Sen", sans-serif;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.22727;
}

.hero-right strong.data-hero:first-of-type {
    margin-left: 0;
}

/* ========= Popular ========= */
.popular {
    margin-top: 150px;
    padding: 50px 0;
}

.popular .title .sub-title {
    color: #171100;
    font-family: "Sen", sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 1.26316;
    letter-spacing: -0.076rem;
}

.popular .title .desc {
    width: 458px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.66667;
    margin-top: 16px;
}

.popular .body .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .body .icon .pre,
.popular .body .icon .next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 13px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
}

.popular .body .icon .pre {
    background: #fff;
    color: var(--primary-color);
}

.popular .body .icon .next {
    margin-left: 18px;
    background: #fff;
    color: var(--primary-color);
}

.popular .body .icon button:hover {
    background: var(--primary-color);
    color: #fff;
}

/* List Product */

.popular .list-product {
    display: flex;
    margin-top: 55px;
    gap: 30px;
}

.popular .list-product .item {
    flex: 1;
    border-radius: 12px;
    border: 1px solid #e2dfda;
}

.popular .list-product .item:hover {
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
    border: 1px solid #fff;
}

.list-product .item .info {
    padding: 16px 22px 22px;
}

.list-product .item .info .box-title {
    display: flex;
    align-items: center;
}

.list-product .item .info .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66667;
    margin-right: auto;
}

.list-product .item .info .vote {
    color: #fea31b;
    font-size: 1.6rem;
    margin-left: 6px;
}

.list-product .item .info .desc {
    --line-clamp: 2;
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.85714;
    margin-top: 6px;
}

.list-product .thumb {
    width: calc(100% + 2px);
    margin: -1px;
    object-fit: cover;
    height: 278px;
    border-radius: 12px 12px 0px 0px;
}

.list-product .box-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.list-product .box-price .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66667;
}

.list-product .box-price .btn-popular:hover {
    background: var(--primary-color);
}

/* ========= Feedback ========= */
.feedback {
    margin-top: 150px;
    padding: 96px 0px;
    background: #2e2100;
}

.feedback .feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback .feedback-list .feedback-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-shrink: 0;
}

.feedback .box-client {
    align-items: center;
    margin: auto 0;
}

.feedback .box-client .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback .box-client .name {
    color: #f7f7f7;
    font-family: "Sen", sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.41667;
    margin-top: 18px;
}

.feedback .box-client .desc {
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.85714;
    margin-top: 4px;
}

.feedback .box-client .dots {
    display: flex;
    gap: 6px;
    margin-top: 28px;
}

.feedback .box-client .dot.active {
    background: var(--primary-color);
}

.feedback .box-client .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
}

.feedback .box-content {
    width: 65.8%;
}

.feedback .box-content .content {
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    line-height: 1.53846;
    margin-left: 30px;
}

/* ========= Features ========= */
.features-2,
.features {
    margin-top: 150px;
    padding: 50px 0;
}

.features .body {
    display: flex;
    justify-content: space-between;
}

.features .images {
    display: flex;
}

.features .images img {
    width: 270px;
    height: 404px;
    border-radius: 16px;
    object-fit: cover;
}

.features .images .img-1 {
    margin: 34px 30px 0 0;
}

.features .content {
    margin: auto 0;
    width: 40.2%;
}

.features-2 .content .title,
.features .content .title {
    color: #171100;
    font-family: "Sen", sans-serif;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26316;
    letter-spacing: -0.076rem;
}

.features-2 .content .desc,
.features .content .desc {
    color: #5f5b53;
    font-size: 1.6rem;
    line-height: 1.75;
    margin-top: 16px;
}

.features-2 .content .btn-feature,
.features .content .btn-feature {
    display: inline-block;
    padding: 0px 37px;
    background: var(--primary-color);
    margin-top: 32px;
}

.features-2 .content .btn-feature:hover,
.features .content .btn-feature:hover {
    opacity: 0.9;
}

/* ========= Features-2 ========= */
.features-2 .body {
    display: flex;
    justify-content: space-between;
}

.features-2 .content {
    /* width: 570px; */
    width: 48.7%;
    margin: auto 0;
}

.features-2 .body .images-2 {
    width: 470px;
    height: 440px;
    border-radius: 20px;
    object-fit: cover;
}

/* ========= Blog ========= */
.blog {
    margin-top: 150px;
    background: #fffcf4;
}

.blog .body {
    padding: 96px 0;
}

.blog .heading {
    margin: 0 auto;
    text-align: center;
    /* width: 448px; */
    width: 38.3%;
}

.blog .heading .title {
    color: #130606;
    font-family: "Sen", sans-serif;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26316;
    letter-spacing: -0.076rem;
}

.blog .heading .desc {
    color: #696262;
    font-size: 1.6rem;
    line-height: 1.75;
    margin-top: 16px;
}

.blog .blog-list {
    margin-top: 55px;
    overflow: hidden;
}

.blog .blog-item {
    display: flex;
    gap: 30px;
    padding-bottom: 38px;
}

.blog .post-item {
    flex-shrink: 0;
    width: calc(33.33% - 20px);
    /* flex: 1; */
    border-radius: 16px;
    background: #fff;
}
.blog .post-item:hover {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog .post-item .info {
    padding: 20px 20px 28px;
}

.blog .post-item .thumb {
    /* width: 370px; */
    max-width: 100%;
    height: 250px;
    border-radius: 16px 16px 0px 0px;
    object-fit: cover;
}

.blog .info .post-time {
    position: relative;
    display: inline-flex;
    align-items: center;
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.85714;
}

.blog .info .post-time::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primary-color);
    margin-right: 4px;
}

.blog .info .post-time::after {
    position: absolute;
    left: 0;
    right: -27px;
    bottom: -12px;
    /* width: 160px; */
    height: 1px;
    border-radius: 0.5px;
    background: #e2dfda;
    content: "";
}

.blog .info .post-title {
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    margin-top: 25px;
}

.blog .info .btn-blog {
    display: inline-block;
    padding: 0px 21px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 12px;
}

.blog .info .btn-blog:hover {
    background: var(--primary-color);
}

.blog .dots {
    display: flex;
    justify-content: center;
}

.blog .dots .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #5f5b53;
    margin: 3px;
    cursor: pointer;
}

.blog .dots .dot.active {
    cursor: default;
    background: var(--primary-color);
}

/* ========= Footer ========= */
.footer {
    background: #2e2100;
}

.footer .row {
    display: flex;
    justify-content: space-between;
    padding: 96px 0 38px;
    border-bottom: 1px solid #59554b;
}

.footer .column-1 .desc {
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.86;
    width: 267px;
    margin-top: 18px;
}

.footer .column-1 .socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 18px;
    width: 111px;
}

.footer .column .title {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    padding-bottom: 14px;
    width: 130px;
    border-bottom: 1px solid #59554b;
}

.footer .column .list .item {
    margin-top: 12px;
}

.footer .column .list a {
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.86;
}

.footer .column .list {
    margin-top: 28px;
}

.footer .column-4 p:first-of-type {
    margin-top: 28px;
}

.footer .column-4 .desc {
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.86;
    margin-top: 12px;
    width: 231px;
}

.footer .column-4 strong {
    color: #fff;
    font-weight: 600;
}

.footer .copy-write p {
    color: #807d74;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.86;
    padding: 28px 0;
}
